<body> 
    <section>
        <div class="Description" Id="section">
            <h1 class="message">WE<br>HELP SOLVE<br>YOUR PROBLEMS<br>WITH OUR<br>TECHNOLOGICAL<br>PROWESS. </h1>
        </div>
        <div class="help-bot" >
            <img class="help-image" src="https://hdqwalls.com/wallpapers/mark-zuckerberg-to.jpg">
            <span class="onlinedot"></span>
        </div> 
        <div class="upper-card">
            <div class="Card-message">
                <div class="Information-card">
                    <br><br>
                    <span class="Information-title">Good afternoon</span><br><br>
                    <p class="Information-message">You can find & download the most popular Working Professional Vectors on Freepik. There are more than 96,000 Vectors,<br>Stock Photos & PSD files. Remember that these high-quality images </p>
                   <br><br>
                    <div>
                        <div class="btn">
                            <span class="signbtn" (click)="Login()">Login Here</span>
                        </div>
                        <div class="loginpage" *ngIf="checking">
                            <app-login-page></app-login-page>
                        </div> 
                    </div>
                </div>
                <br><br>
                <div class="Information-card">
                    <span class="Information-title">Good afternoon</span><br><br>
                    <p class="Information-message">You can find & download the most popular Working Professional Vectors on Freepik. There are more than 96,000 Vectors,<br>Stock Photos & PSD files. Remember that these high-quality images </p>
                   <br><br>
                    <div>
                        <div class="btn">
                            <span class="signbtn"(click)="SignIn()" >Sign Up Here</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="bottom">
            <div class="first-person person">
                <img class="persons-image" src="https://hdqwalls.com/wallpapers/mark-zuckerberg-to.jpg">
                <br>
                <span class="person-name">afas<br>afdasfasfasfasdf</span>
                <br><br>
                <span>fnajfda kjdfa faksj fsafja fas fjasf kjfd akjfd safkjsa fasfd kasfdakjfda sfdsa fdkasfdakjf safd jsakf askjfdas fkjsaf jdfkjadf aksjfd fkajfsa
                    fakjdf akldfa falkdf adslkf saf kadflkas df
                </span>
            </div>
            <div class="second-person person">
                <img class="persons-image" src="https://hdqwalls.com/wallpapers/mark-zuckerberg-to.jpg">
                <br>
                <span class="person-name">afas<br>afdasfasfasfasdf</span>
                <br><br>
                <span>fnajfda kjdfa faksj fsafja fas fjasf kjfd akjfd safkjsa fasfd kasfdakjfda sfdsa fdkasfdakjf safd jsakf askjfdas fkjsaf jdfkjadf aksjfd fkajfsa
                    fakjdf akldfa falkdf adslkf saf kadflkas df
                </span>
            </div>
            <div class="third-person person ">
                <img class="persons-image" src="https://hdqwalls.com/wallpapers/mark-zuckerberg-to.jpg">
                <br>
                <span class="person-name">afas<br>afdasfasfasfasdf</span>
                <br><br>
                <span>fnajfda kjdfa faksj fsafja fas fjasf kjfd akjfd safkjsa fasfd kasfdakjfda sfdsa fdkasfdakjf safd jsakf askjfdas fkjsaf jdfkjadf aksjfd fkajfsa
                    fakjdf akldfa falkdf adslkf saf kadflkas df
                </span>
            </div>
        </div>
        <br>
        <div class="morebtn">
            <span class="more">
                More
            </span>
        </div>
        <img class="baseimage" src="https://media.glassdoor.com/banner/bh/2895966/zuci-systems-banner-1645186389586.jpg">
    </section>
</body>