.menu{
    width:100%;
    float: left;
    height: 70px !important;
}
ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 70px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li:hover{
    color:orange;
    cursor: pointer;
}
.nav-bar{
    width:100%;
    position: fixed;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.242);
}
ul:hover{
    cursor: pointer;
}
